In [10]:
#First Python Program
print("Hello world")

Hello world

In [2]:
print("Hello world" , "My name is Pooja")

Hello world My name is Pooja

In [3]:
print(23)

23

In [4]:
print(12+2)

14

In [6]:
#Variables
name = "pooja"
print(name)

pooja

In [12]:
name = "Pooja" #str
age = 21     #int
marks = 82.12  #Float

print("My name is:",name)
print("My age is:", age)
print("My marks is:",marks)

My name is: Pooja
My age is: 21
My marks is: 82.12

In [9]:
# How to check data type of variable
name = "Pooja"
age = 21
marks = 82.12

print(type(name))
print(type(age))
print(type(marks))

<class 'str'>
<class 'int'>
<class 'float'>

In [15]:
'''Operators in Python
1. Arithmatic Operators  (+, -, *, /, %, **)
2. Relationa / Comparision Operators(==, !=, >, <, >=, <=)
3. Assingment Operators(=, +=, -=, *=,
4. Logical Operators (not, and, or)'''

#Arithmatic Operators
a = 5
b = 10

print("Add:",a + b)
print("Sub:",a - b)
print("Mul:",a * b)
print("Div:",a / b)
print("Reminder:",a % b)
print("Power:",a ** b)

Add: 15
Sub: -5
Mul: 50
Div: 0.5
Reminder: 5
Power: 9765625

In [16]:
#Relational Operators
a = 5
b = 10

print(a == b) 
print(a != b) 
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False

In [17]:
#Assingment Operator
num = 10
num += 5
print("num is:",num)

num is: 15

In [18]:
num = 10
num -= 5
print("num is:",num)

num is: 5

In [19]:
num = 10
num *= 5
print("num is:",num)

num is: 50

In [20]:
num = 10
num /= 5
print("num is:",num)

num is: 2.0

In [21]:
num = 10
num %= 5
print("num is:",num)

num is: 0

In [22]:
num = 10
num **= 5
print("num is:",num)

num is: 100000

In [23]:
#Logical Operator
#not
print(not False)
print(not True)

True
False

In [25]:
a = 10
b = 20
print(not(a > b))

True

In [28]:
#And
val1 = True
val2 = True
print("And Operator:",val1 and val2)

And Operator: True

In [32]:
#or
val1 = False
val2 = False
print("Or Operator:",val1 or val2)

Or Operator: False

In [33]:
#Type Conversion
a = 2
b = 4.24
sum = a + b
print(sum)

6.24

In [34]:
a = float("2")
b = 4.25

print(type(a))
print(a+b)

<class 'float'>
6.25

In [35]:
a = 3.14
b = str(a)
print(type(a))

<class 'float'>

In [38]:
#How to give Input From user in Python

name = input("Ener your Name")
print("Your Name is:",name)

Ener your Name pooja

Your Name is: pooja

In [42]:
name = input("Enter Your Name:")
age = int(input("Enter Your age:"))
marks = float(input("Enter your marks:"))

print("My name is:",name)
print("My age is:",age)
print("My marks is:",marks)

Enter Your Name: pooja
Enter Your age: 21
Enter your marks: 82.12

My name is: pooja
My age is: 21
My marks is: 82.12

In [ ]:
#Write a program to input 2 Numbers and print their sum.

a = int(input("Enter First Nummber:"))
b = int(input("Enter Second Number:"))
sum = a + b
print("sum is :",sum)

In [49]:
#Write a program side of a square & its area.

side = int(input("Enter the side of square Value:"))
area = side * side
print("Value of side square is:",area)

Enter the side of square Value: 4

Value of side square is: 16

In [50]:
#Another Method

side = float(input("Enter the area of square:"))
print("Area:", side * side)

Enter the area of square: 4

Area: 16.0

In [1]:
# WAP to input 2 floating point numbers and print their average

a = float(input("Enter First Nummber:"))
b = float(input("Enter Second Number:"))

print("average is :",avg (a+b)/2)

Enter First Nummber: 15
Enter Second Number: 15

NameError: name 'avg' is not defined